[Unit]
Description=Wallos Container

[Container]
Pod=wallos.pod
ContainerName=wallos
Image=docker.io/bellamy/wallos:latest
AutoUpdate=registry
Volume=wallos_db.volume:/var/www/html/db
Volume=wallos_logos.volume://var/www/html/images/uploads/logos
Environment=TZ='Europe/Tallinn'

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy=multi-user.target default.target
